/* Colors */
$select-menu-purple: rgba(144, 164, 238, 0.29);
$select-menu-yellow:  rgba(255, 247, 182, 0.29);
$select-menu-green: rgba(158, 238, 144, 0.38);
$label-subheading-slateblue: slateblue;
$slider-bar-yellow: rgba(255, 195, 59, 0.62);
$slider-pointer-purple: rgba(103, 58, 183, 0.85);
$demo-header-slateblue: darkslateblue;
