<form class="quiz-question" [formGroup]="question">
  <div class="form-group">
    <label>Question Type:</label>
    <select class="form-control question-type-background" formControlName="typeSelect">
      <option value="" disabled>Select Question Type</option>
      <option *ngFor="let questionType of questionTypes" [ngValue]="questionType.name">{{questionType.description}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Question Text:</label>
    <div class="double-wide flex-display">
      <input type="text" class="form-control question-text" formControlName="text" required>
      <img class="delete_icon" *ngIf="questions.controls.length > 1" (click)="deleteQuestion()" [src]="deleteIcon" height="20">
    </div>
    <div *ngIf="question.controls.text.invalid && (question.controls.text.dirty || question.controls.text.touched)">
      <div *ngIf="question.controls.text.errors.requiredTrimWhitespace" class="alert alert-warning">Question text is required</div>
    </div>
  </div>
  <div formGroupName="answer">
    <div *ngIf="question.controls.typeSelect.value==='textQuestionMultipleChoice'">
      <label>Multiple Choice Options:</label>
      <div class="form-group">
        <div *ngFor="let option of question.controls.answer.controls.options.controls; let i=index">
          <div class="double-wide flex-display">
            <span class="multiple-choice-option-id">{{alphaIdArray[i]}}:</span>
            <div class="custom-control custom-radio multiple-choice-option-radio">
              <input type="radio" id="{{'option' + questionIndex.toString() + i.toString()}}" class="custom-control-input" formControlName="correctOption" [value]="i">
              <label class="custom-control-label" for="{{'option' + questionIndex.toString() + i.toString()}}">Correct Answer</label>
            </div>
            <div formArrayName="options" class="multiple-choice-option-container">
              <div [formGroupName]="i" class="flex-display">
                <span class="multiple-choice-option">Option:</span>
                <input type="text" class="form-control" formControlName="option" required>
                <img class="delete_icon" *ngIf="question.controls.answer.controls.options.length > 1" (click)="deleteOption(i)" [src]="deleteIcon" height="20">
              </div>
            </div>
          </div>
          <div *ngIf="option.controls.option.invalid && (option.controls.option.dirty || option.controls.option.touched)">
            <div *ngIf="option.controls.option.errors && option.controls.option.errors.requiredTrimWhitespace" class="alert alert-warning">Option is required</div>
          </div>
        </div>
        <div *ngIf="question.controls.answer.controls.options.length > 1 && question.controls.answer.controls.correctOption.errors && question.controls.answer.controls.correctOption.errors.required" class="alert alert-warning">Please select a correct answer</div>
        <div *ngIf="question.controls.answer.controls.options.length > 1 && question.controls.answer.controls.options.errors && question.controls.answer.controls.options.errors.duplicate" class="alert alert-warning">Duplicate option</div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="addOption()">Add New Option</button>
    </div>
    <div *ngIf="question.controls.typeSelect.value==='textQuestionShortAnswer'" class="form-group">
      <label>Correct Answers:</label>
      <div formArrayName="correctAnswerArray">
        <div class="form-group">
          <div *ngFor="let correctAnswer of question.controls.answer.controls.correctAnswerArray.controls; let j=index">
            <div [formGroupName]="j" class="flex-display">
              <span class="correct-answer-id">{{alphaIdArray[j]}}:</span>
              <input type="text" class="form-control" formControlName="correctAnswer" required>
              <img class="delete_icon" *ngIf="question.controls.answer.controls.correctAnswerArray.length > 1" (click)="deleteCorrectAnswer(j)" [src]="deleteIcon" height="20">
            </div>
            <div *ngIf="correctAnswer.controls.correctAnswer.invalid && (correctAnswer.controls.correctAnswer.dirty || correctAnswer.controls.correctAnswer.touched)">
              <div *ngIf="correctAnswer.controls.correctAnswer.errors && correctAnswer.controls.correctAnswer.errors.requiredTrimWhitespace" class="alert alert-warning">Correct answer is required</div>
            </div>
          </div>
          <div *ngIf="question.controls.answer.controls.correctAnswerArray.length > 1 && question.controls.answer.controls.correctAnswerArray.errors && question.controls.answer.controls.correctAnswerArray.errors.duplicate" class="alert alert-warning">Duplicate correct answer</div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="addCorrectAnswer()">Add New Correct Answer</button>
      </div>
    </div>
    <div *ngIf="question.controls.typeSelect.value==='textQuestionBoolean'" class="form-group">
      <label>Correct Answer:</label>
      <br>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{'booleanTrueAnswer' + questionIndex}}" class="custom-control-input" formControlName="booleanCorrectAnswer" [value]="true">
        <label class="custom-control-label" for="{{'booleanTrueAnswer' + questionIndex}}">True</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{'booleanFalseAnswer' + questionIndex}}" class="custom-control-input" formControlName="booleanCorrectAnswer" [value]="false">
        <label class="custom-control-label" for="{{'booleanFalseAnswer' + questionIndex}}">False</label>
      </div>
    </div>
  </div>
</form>
