<div class="container">
  <div class="takeQuizHeader flex-display">
    <div class="topLeft">{{title}}</div>
    <div class="topRight" *ngIf="questionsAnsweredCount < questionsCount">Question {{questionsAnsweredCount + 1}} of {{questionsCount}}</div>
  </div>

  <div class="takeQuizBody" *ngIf="questionsAnsweredCount < questionsCount">
    <app-take-quiz-question
      [takeQuizForm]="takeQuizForm"
      [questionIndex]="questionsAnsweredCount"
      [answerFeedbackGiven]="answerFeedbackGiven"
      [answeredCorrectly]="answeredCorrectly"
      [correctAnswer]="correctAnswer"
      [correctAnswerArray]="correctAnswerArray"
      (submit)="submitAnswer($event)"
      (nextQuestion)="getNextQuestion($event)">
    </app-take-quiz-question>
  </div>

  <div class="takeQuizResults" *ngIf="questionsAnsweredCount === questionsCount">
    Results Page
  </div>
  <div *ngIf="generalError" class="alert alert-danger">An error occurred.</div>
</div>
