input[type='text'] {
  width: 40%;
}

.text-question {
  font-size: 1.2rem;
}

.three-rem-margin-bottom {
  margin-bottom: 3rem;
}

.two-rem-margin-bottom {
  margin-bottom: 2rem;
}

span.multiple-choice-option-id {
  margin-right: 0.5rem;
}

div.multiple-choice-option-radio {
  margin-right: .5rem;
}

label.left-padding {
  padding-left: 0.8rem;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}
