input[type='text'] {
  width: 40%;
}

.text-question {
  font-size: 1.2rem;
}

.extra-margin-bottom {
  margin-bottom: 3rem;
}

span.multiple-choice-option-id {
  width: 2%;
}

label.left-padding {
  padding-left: 0.8rem;
}
