<form class="quiz-question" [formGroup]="question">
  <div class="form-group">
    <div class="text-question">
      {{question.controls.text.value}}
    </div>
  </div>
  <div class="three-rem-margin-bottom" formGroupName="answer">
    <div *ngIf="question.controls.type.value === 'textQuestionMultipleChoice'">
      <label>Multiple Choice Options:</label>
      <div formArrayName="options" class="form-group">
        <div class="form-group">
          <div *ngFor="let option of question.controls.answer.controls.options.controls; let i=index">
            <div [formGroupName]="i" class="double-wide flex-display">
              <span class="multiple-choice-option-id">{{alphaIdArray[i]}}:</span>
              <div class="custom-control custom-radio multiple-choice-option-radio">
                <input type="radio" id="{{'option' + questionIndex.toString() + i.toString()}}" class="custom-control-input" name="optionSelect" formControlName="optionSelect" [value]="true">
                <label class="custom-control-label left-padding" for="{{'option' + questionIndex.toString() + i.toString()}}">{{option.controls.option.value}}</label>
              </div>
            </div>
          </div>
          <div *ngIf="question.controls.answer.controls.options.length > 1 && question.controls.answer.controls.options.errors && question.controls.answer.controls.options.errors.noOptionsSelected" class="alert alert-warning">Please select an option</div>
        </div>
      </div>
    </div>
    <div *ngIf="question.controls.type.value === 'textQuestionShortAnswer'" class="form-group">
      <div class="form-group">
        <label>Answer</label>
        <input type="text" class="form-control" formControlName="textAnswer" required>
      </div>
    </div>
    <div *ngIf="question.controls.type.value === 'textQuestionBoolean'" class="form-group">
      <label>Answer:</label>
      <br>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{'booleanTrueAnswer' + questionIndex}}" class="custom-control-input" name="booleanAnswer" formControlName="booleanAnswer" [value]="true">
        <label class="custom-control-label" for="{{'booleanTrueAnswer' + questionIndex}}">True</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="{{'booleanFalseAnswer' + questionIndex}}" class="custom-control-input" name="booleanAnswer" formControlName="booleanAnswer" [value]="false">
        <label class="custom-control-label" for="{{'booleanFalseAnswer' + questionIndex}}">False</label>
      </div>
    </div>
  </div>
  <div class="flex-display two-rem-margin-bottom">
    <div class="form-group" *ngIf="!answerFeedbackGiven">
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="submitAnswer()" [disabled]="!question.valid">Submit</button>
      </div>
    </div>
    <div class="form-group" *ngIf="answerFeedbackGiven">
      <div class="form-group two-rem-margin-bottom">
        <div *ngIf="answeredCorrectly" class="correct-answer">
          You got it right!! Great Job!!
        </div>
        <div *ngIf="!answeredCorrectly && question.controls.type.value === 'textQuestionMultipleChoice'" class="wrong-answer">
          Sorry, the correct answer is {{correctAnswer}}
        </div>
        <div *ngIf="!answeredCorrectly && question.controls.type.value === 'textQuestionBoolean'" class="wrong-answer">
            Sorry, the correct answer is {{!question.controls.answer.controls.booleanAnswer.value}}
          </div>
        <div *ngIf="!answeredCorrectly && question.controls.type.value === 'textQuestionShortAnswer'" class="wrong-answer">
          <span *ngIf="correctAnswerArray.length === 1">Sorry, the correct answer is:</span>
          <span *ngIf="correctAnswerArray.length > 1">Sorry, the correct answers are:</span>
          <br><br>
          <div *ngFor="let answer of correctAnswerArray">
            {{answer}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="getNextQuestion()">Next</button>
      </div>
    </div>
  </div>
</form>
