.delete_icon {
  margin-left: 0.3rem;
}

.delete_icon:hover {
  cursor: pointer;
}

.double-wide {
  width: 200%;
}

.template-container {
  width: 30%;
}

input[type='text']  {
  width: 90%;
  margin-right: .5rem;
}

h2 {
  margin-bottom: 2rem;
  width: 200%;
}

div.extra-margin-bottom {
  margin-bottom: 3rem;
}
