<h2>Create / Modify Quiz Template</h2>

<form [formGroup]="createModifyQuizTemplateForm" (ngSubmit)="saveTemplate()">
  <select id="template" formControlName="templateSelect">
    <option value="" disabled selected>Select Template</option>
    <option *ngFor="let templ of templates" [ngValue]="templ.id">{{templ.name}}</option>
  </select>
  <br>
  <label>Name:</label>
  <input type="text" id="name" formControlName="name" required>
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors.required" style="color: red">Template name is required</div>
  </div>
  <br>
  <label>Description:</label>
  <input type="text" id="text" formControlName="description">
  <br><br>
  <div formArrayName="formQuestions">
    <div *ngFor="let question of createModifyQuizTemplateForm.get('formQuestions').controls; let i=index">
      <div [formGroupName]="i">
        <label>Question Text:</label>
        <input type="text" formControlName="text">
        <br>
        <label>Question Type:</label>
        <input type="text" formControlName="type">
        <br>
        <label>Answer:</label>
        <input type="text" formControlName="answer">
        <br>
        <button type="button" (click)="deleteQuestion(i)">Delete Question</button>
        <br><br>
      </div>
    </div>
  </div>
  <button type="button" (click)="addQuestion()">Add New Question</button>
  <br>
  <button type="submit" [disabled]="!createModifyQuizTemplateForm.valid">Save</button>
 </form>
