@import '../../../assets/scss/variables';

.template-container {
  width: 30%;
}

input[type='text']  {
  width: 90%;
  margin-right: .5rem;
}

h2 {
  margin-bottom: 2rem;
  width: 200%;
}

.extra-margin-bottom {
  margin-bottom: 3rem;
}

select.quiz-template-background {
  background: $select-menu-purple;
}
