<div class="container">
  <div class="activate-container">
    <h2>Activate Quiz / Survey Template</h2>
    <div class="select-menus-container">
      <div class="webpage-select">
        <form class="select-form" [formGroup]="selectWebpageForm">
          <div class="form-group">
            <label class="subheading">First Step: Select Web Page:</label>
            <select id="webpage-select" class="form-control webpage-select-background" formControlName="webpageSelect">
              <option value="" disabled selected>Select Web Page</option>
              <option *ngFor="let route of activeRoutes" [ngValue]="route.id">{{route.title}}</option>
            </select>
          </div>
        </form>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="((!quizForm.valid || !quizConfigurationForm.valid) && (quizTemplateSelected !== noQuiz)) || (!surveyForm.valid  && (surveyTemplateSelected !== noSurvey)) || !webpageSelected" (click)="activate()">Activate</button>
          </div>
          <div class="form-group">
            <div *ngIf="saveSuccess && !(saveError || generalError)" class="alert alert-success">Changes saved successfully.</div>
            <div *ngIf="saveError" class="alert alert-danger">Error saving changes.</div>
            <div *ngIf="generalError" class="alert alert-danger">An error occurred. Please try again.</div>
            <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
          </div>
      </div>
      <div class="quiz-survey-select">
        <app-activate-quiz-template
          [activateQuizSurveyTemplateForm]="activateQuizSurveyTemplateForm"
          [webpage]="webpage"
          [clearForms]="clearQuizForms"
          (quizTemplateSelected)="onQuizTemplateSelected($event)"
          (quizIdChanged)="onChangeQuizId($event)"
          (activeQuizId)="onChangeActiveQuizId($event)"
          (quizChanged) = "onChangeQuiz($event)"
          (error)="onGeneralError()"
          (clearStatusFlags)="clearStatusFlags()">
        </app-activate-quiz-template>

        <app-activate-survey-template
          [activateQuizSurveyTemplateForm]="activateQuizSurveyTemplateForm"
          [webpage]="webpage"
          [clearForms]="clearSurveyForms"
          (surveyTemplateSelected)="onSurveyTemplateSelected($event)"
          (surveyIdChanged)="onChangeSurveyId($event)"
          (activeSurveyId)="onChangeActiveSurveyId($event)"
          (surveyChanged) = "onChangeSurvey($event)"
          (error)="onGeneralError()"
          (clearStatusFlags)="clearStatusFlags()">
        </app-activate-survey-template>
      </div>
    </div>
  </div>
</div>
