.quiz-survey-select {
  width: 50%;
}

.webpage-select {
  width: 50%;
  margin-left: 2rem;
}

.select-menus-container {
  display: flex;
}

label {
  font-size: 1.3rem;
  color: slateblue;
}

.select-form {
  padding-bottom: 1rem;
}

.extra-margin-bottom {
  margin-bottom: 3rem;
}
