@use '../../../assets/scss/variables';

.quiz-survey-select {
  width: 50%;
  margin-left: 2rem;
}

.webpage-select {
  width: 50%;
}

.select-menus-container {
  display: flex;
  margin-top: 3rem;
}

label.subheading {
  font-size: 1.3rem;
  color: variables.$label-subheading-slateblue;
}

.select-form {
  padding-bottom: 1rem;
}

.webpage-select-background {
  background: variables.$select-menu-purple;
}
