<div class="container">
  <div class="activate-container">
    <h2>Activate Quiz / Survey Template</h2>
    <div class="select-menus-container">
      <div class="webpage-select">
        <form class="select-form" [formGroup]="selectWebpageForm">
          <div class="form-group">
            <label class="subheading">First Step: Select Web Page:</label>
            <select id="webpage-select" class="form-control" formControlName="webpageSelect">
              <option value="" disabled selected>Select Web Page</option>
              <option *ngFor="let route of activeRoutes" [ngValue]="route.id">{{route.title}}</option>
            </select>
          </div>
        </form>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!quizForm.valid || !quizConfigurationForm.valid || !webpageSelected" (click)="activate()">Activate</button>
          </div>
          <div class="form-group">
            <div *ngIf="saveSuccess" class="alert alert-success">Quiz / Survey Template successfully activated</div>
            <div *ngIf="saveError" class="alert alert-danger">Error activating Quiz / Survey Template</div>
            <div *ngIf="generalError" class="alert alert-danger">An error occurred. Please try again.</div>
            <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
          </div>
      </div>
      <div class="quiz-survey-select">
        <form class="select-form" [formGroup]="selectQuizTemplateForm">
          <div class="form-group">
            <label class="subheading">Second Step: Select Quiz Template:</label>
            <img class="info-icon" src="../../../assets/images/information-512.png" height=15 placement="right" ngbTooltip="Select quiz template to apply to the web page. Select 'No Quiz' to not have a quiz. Don't select anything if a quiz is already associated with the web page, and you want to keep the same quiz.">
            <select id="quiz-template-select" class="form-control" formControlName="quizTemplateSelect">
              <option value="" disabled selected>Select Quiz Template</option>
              <option [ngValue]="null">No Quiz</option>
              <option *ngFor="let quizTempl of quizTemplates" [ngValue]="quizTempl.id">{{quizTempl.name}}</option>
            </select>
          </div>
        </form>
        <div *ngIf="quizTemplateSelected || quizId" class="form-group three-rem-margin-bottom">
          <form [formGroup]="quizForm">
            <div class="form-group  three-rem-margin-bottom">
              <div class="form-group">
                <label>Title:</label>
                <img class="info-icon" src="../../../assets/images/information-512.png" height=15 placement="top" ngbTooltip="This will be visible to the user taking the quiz.">
                <input type="text" id="quiz-title" class="form-control" formControlName="title">
                <div *ngIf="quizForm.controls.title.invalid && (quizForm.controls.title.dirty || quizForm.controls.title.touched)">
                  <div *ngIf="quizForm.controls.title.errors.requiredTrimWhitespace" class="alert alert-warning">Quiz title required</div>
                  <div *ngIf="quizForm.controls.title.errors.quizTitleTaken" class="alert alert-warning">
                    Quiz title is already being used.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Description:</label>
                <input type="text" id="quiz-description" class="form-control" formControlName="description">
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="quizTemplateSelected || quizId" class="form-group three-rem-margin-bottom">
          <form [formGroup]="quizConfigurationForm">
            <h3 class="one-rem-margin-bottom">Quiz Settings</h3>
            <div class="form-group two-rem-margin-bottom">
              <label class="subheading">Randomize Question Sequence:</label>
              <br>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="randomize-question-sequence-true" class="custom-control-input" formControlName="randomizeQuestionSequence" [value]="true">
                <label class="custom-control-label" for="randomize-question-sequence-true">True</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="randomize-question-sequence-false" class="custom-control-input" formControlName="randomizeQuestionSequence" [value]="false">
                <label class="custom-control-label" for="randomize-question-sequence-false">False</label>
              </div>
            </div>
            <div class="form-group two-rem-margin-bottom">
              <label class="subheading" placement="top">Randomize Answer Sequence:</label>
              <img class="info-icon" src="../../../assets/images/information-512.png" height=15 placement="top" ngbTooltip="Applicable to multiple choice answer options.">
              <br>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="randomize-answer-sequence-true" class="custom-control-input" formControlName="randomizeAnswerSequence" [value]="true">
                <label class="custom-control-label" for="randomize-answer-sequence-true">True</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="randomize-answer-sequence-false" class="custom-control-input" formControlName="randomizeAnswerSequence" [value]="false">
                <label class="custom-control-label" for="randomize-answer-sequence-false">False</label>
              </div>
            </div>
            <div class="form-group two-rem-margin-bottom">
              <label class="subheading">Autosubmit:</label>
              <img class="info-icon" src="../../../assets/images/information-512.png" height=15 placement="top" ngbTooltip="True to automatically submit quiz answers without a Submit button. Not applicable for text short answer.">
              <br>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="autosubmit-true" class="custom-control-input" formControlName="autoSubmit" [value]="true">
                <label class="custom-control-label" for="autosubmit-true">True</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="autosubmit-false" class="custom-control-input" formControlName="autoSubmit" [value]="false">
                <label class="custom-control-label" for="autosubmit-false">False</label>
              </div>
            </div>
            <div class="form-group two-rem-margin-bottom">
              <label class="subheading">Percent Great Job:</label>
              <img class="info-icon" src="../../../assets/images/information-512.png" height=15 placement="top" ngbTooltip="Percent of questions that user needs to answer correctly in order to see the 'Great Job' Giphy.">
              <input type="number" id="percent-great-job" class="form-control" formControlName="percentGreatJob">
              <div *ngIf="quizConfigurationForm.controls.percentGreatJob.invalid && (quizConfigurationForm.controls.percentGreatJob.dirty || quizConfigurationForm.controls.percentGreatJob.touched)">
                <div class="alert alert-warning" *ngIf="quizConfigurationForm.controls.percentGreatJob.errors.min">
                  Min percent great job is 0
                </div>
                <div class="alert alert-warning" *ngIf="quizConfigurationForm.controls.percentGreatJob.errors.max">
                  Max percent great job is 100
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="form-group three-rem-margin-bottom">
          <button *ngIf="!quizPreview" type="button" class="btn btn-primary" (click)="previewQuiz()" [disabled]="!quizTemplateSelected && !quizId">Preview</button>
          <button *ngIf="quizPreview" type="button" class="btn btn-secondary" (click)="clearPreviewQuiz()" [disabled]="!quizTemplateSelected && !quizId">Clear</button>
        </div>
        <div class="form-group three-rem-margin-bottom" *ngIf="quizPreview">
          <form [formGroup]="previewQuizTemplateForm">
            <div formArrayName="formQuestions" class="form-group three-rem-margin-bottom">
              <app-template-quiz-question-disabled *ngFor="let question of formQuestions.controls; let i=index"
                [quizTemplateForm]="quizTemplateForm"
                [questionIndex]="i"
                (deletedQuestion)="onDeletedQuestion($event)">
              </app-template-quiz-question-disabled>
            </div>
          </form>
        </div>
        <form class="select-form" [formGroup]="selectSurveyTemplateForm">
          <div class="form-group">
            <label class="subheading">Third Step: Select Survey Template:</label>
            <select id="survey-template-select" class="form-control" formControlName="surveyTemplateSelect">
              <option value="" disabled selected>Select Survey Template</option>
              <option [ngValue]="null">No Survey</option>
              <option *ngFor="let surveyTempl of surveyTemplates" [ngValue]="surveyTempl.id">{{surveyTempl.name}}</option>
            </select>
          </div>
        </form>
        <div class="form-group three-rem-margin-bottom">
          <button *ngIf="!surveyPreview" type="button" class="btn btn-primary" (click)="previewSurvey()" [disabled]="!surveyTemplateSelected">Preview</button>
          <button *ngIf="surveyPreview" type="button" class="btn btn-secondary" (click)="clearPreviewSurvey()" [disabled]="!surveyTemplateSelected">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
