.quiz-survey-select {
  width: 50%;
}

.webpage-select {
  width: 50%;
  margin-left: 2rem;
}

.select-menus-container {
  display: flex;
}

label.subheading {
  font-size: 1.3rem;
  color: slateblue;
}

.select-form {
  padding-bottom: 1rem;
}

.one-rem-margin-bottom {
  margin-bottom: 1rem;
}

.two-rem-margin-bottom {
  margin-bottom: 2rem;
}

.three-rem-margin-bottom {
  margin-bottom: 3rem;
}

