<form class="select-form" [formGroup]="selectQuizTemplateForm">
  <div class="form-group">
    <label class="subheading">Second Step: Select Quiz Template:</label>
    <img class="info-icon" [src]="infoIcon" height=15 placement="right" ngbTooltip="Select quiz template to apply to the web page. Select 'No Quiz' to not have a quiz. Select 'Keep the Same Quiz' if a quiz is already associated with the web page, and you want to keep the same quiz.">
    <select id="quiz-template-select" class="form-control quiz-template-select-background" formControlName="quizTemplateSelect">
      <option value="" disabled selected>Select Quiz Template</option>
      <option [ngValue]="noQuiz">No Quiz</option>
      <option *ngIf="quizId" [ngValue]="keepSameQuiz">Keep the Same Quiz</option>
      <option *ngFor="let quizTempl of quizTemplates" [ngValue]="quizTempl.id">{{quizTempl.name}}</option>
    </select>
  </div>
</form>
<div [hidden]="templateSelected <= 0 && !actQuizId" class="form-group three-rem-margin-bottom">
  <form [formGroup]="quizForm">
    <div class="form-group  three-rem-margin-bottom">
      <div class="form-group">
        <label>Unique Name:</label>
        <img class="info-icon" [src]="infoIcon" height=15 placement="top" ngbTooltip="Enter a quiz unique name that will identify the quiz in the database.">
        <input type="text" id="quiz-unique-name" class="form-control" formControlName="uniqueName">
        <div *ngIf="quizForm.controls.uniqueName.errors && quizForm.controls.uniqueName.errors.quizUniqueNameTaken" class="alert alert-warning">Quiz unique name is already being used.</div>
        <div *ngIf="quizForm.controls.uniqueName.invalid && (quizForm.controls.uniqueName.dirty || quizForm.controls.uniqueName.touched)">
          <div *ngIf="quizForm.controls.uniqueName.errors.requiredTrimWhitespace" class="alert alert-warning">Quiz unique name required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Title:</label>
        <img class="info-icon" [src]="infoIcon" height=15 placement="top" ngbTooltip="This will be visible to the user taking the quiz.">
        <input type="text" id="quiz-title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label>Description:</label>
        <input type="text" id="quiz-description" class="form-control" formControlName="description">
      </div>
    </div>
  </form>
</div>
<div [hidden]="templateSelected <= 0 && !actQuizId" class="form-group three-rem-margin-bottom">
  <form [formGroup]="quizConfigurationForm">
    <h3 class="one-rem-margin-bottom">Quiz Settings</h3>
    <div class="form-group two-rem-margin-bottom">
      <label class="subheading">Percent Great Job:</label>
      <img class="info-icon" [src]="infoIcon" height=15 placement="top" ngbTooltip="Percent of questions that user needs to answer correctly in order to see the 'Great Job' Giphy.">
      <input type="number" id="percent-great-job" class="form-control" formControlName="percentGreatJob">
      <div *ngIf="quizConfigurationForm.controls.percentGreatJob.invalid && (quizConfigurationForm.controls.percentGreatJob.dirty || quizConfigurationForm.controls.percentGreatJob.touched)">
        <div class="alert alert-warning" *ngIf="quizConfigurationForm.controls.percentGreatJob.errors.min">
          Min percent great job is 0
        </div>
        <div class="alert alert-warning" *ngIf="quizConfigurationForm.controls.percentGreatJob.errors.max">
          Max percent great job is 100
        </div>
      </div>
    </div>
  </form>
</div>
<div class="form-group three-rem-margin-bottom">
  <button *ngIf="!quizPreview" type="button" class="btn btn-primary" (click)="previewQuiz()" [disabled]="!(templateSelected > 0) && !actQuizId">Preview</button>
  <button *ngIf="quizPreview" type="button" class="btn btn-secondary" (click)="clearPreviewQuiz()" [disabled]="!(templateSelected > 0) && !actQuizId">Clear</button>
</div>
<div class="form-group three-rem-margin-bottom" *ngIf="quizPreview">
  <form [formGroup]="previewQuizTemplateForm">
    <div formArrayName="formQuestions" class="form-group three-rem-margin-bottom">
      <app-template-quiz-question-disabled *ngFor="let question of quizFormQuestions.controls; let i=index"
        [quizTemplateForm]="quizTemplateForm"
        [questionIndex]="i">
      </app-template-quiz-question-disabled>
    </div>
  </form>
</div>

