<div class="container">
    <h2>Interactive Informational Site</h2>
    <div class="admin">
      <h4>Admin Menu</h4>
      <div class="demo-menu-link">
        <a routerLink="/admin">Admin Main Menu</a>
      </div>
    </div>
    <div class="demo-pages">
      <h4>Demo Pages</h4>
      <div class="demo-menu-link">
        <a routerLink="/fibro-article">Wikipedia Fibromyalgia Page</a>
      </div>
      <div class="demo-menu-link">
        <a routerLink="/sample-page-one">Sample Page One</a>
      </div>
      <div class="demo-menu-link">
        <a routerLink="/sample-page-two">Sample Page Two</a>
      </div>
    </div>
  </div>
