@use '../../../assets/scss/variables';

h2 {
  margin-bottom: 3rem;
  color: variables.$demo-header-slateblue;
}

h4 {
  margin-bottom: 1rem;
}

.demo-menu-link {
  margin-bottom: .7rem;
}

.admin {
  margin-bottom: 2rem;
}
